.cadrecv{
    display: flex;
    justify-content: center;
    
    height: 1100px;
}
.colonne_gauche{
    width: 200px;
    padding-left: 15px;
    padding-right: 15px;
}
.colonne_droite{

    width: 500px;
    height: 1000px;
    padding-left: 15px;
    padding-right: 15px;
}
.colonne_milieu{
    color: coral;
    width: 2px;
    height: 1000px;
}       